<div class="bg-neutral-100 py-64 py-sm-32">
    <div class="container">
        <nav class="d-flex align-center d-sm-block justify-between mb-24 pb-36 section-lined">
            <a href="index.html">
                <img src="/assets/images/logo.svg" alt="logo">
            </a>
            <ul class="d-flex d-sm-block px-sm-12 file">
                <li class="me-40 me-sm-0 mb-24 mn-20">
                    <a href="products.html" class="footer-a py-12">商品列表</a>
                </li>
                <li class="mn-20">
                    <a href="story.html" class="footer-a py-12">品牌故事</a>
                </li>
            </ul>
        </nav>
        <p class="mn-32 mn-sm-24 text-sm text-neutral-600 Copyright">Copyright ©2025 URBNSTYLE</p>
        <p class="mn-4 text-sm text-neutral-600 Copyright">All Rights Reserved.</p>
    </div>
</div>