.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}
.nav-a, .footer-a{
  text-decoration: none;
  color: $neutral-900;
}
.file a:hover{
    color: $neutral-600;
}
.person{
    margin-left: auto;
    margin-top: 14px;
}
.person a:hover svg path {
  fill: $primary-400;
}