<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>URBNSTEP | 品牌首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="regist" data-aos="fade-down">
        <div class="regist-title d-flex justify-center align-center">
            <h2 class="h4">加入會員取得 9 折優惠</h2>
            <a href="login.html" class="regist-a">馬上註冊</a>
        </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
