<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP | 產品列表</title>
  </head>
  <body class="page-products">
    <%- include('./layout/header'); -%>
    <div class="container">
      <div class="py-32 py-md-16 mb-48">
          <div class="breadcrumb d-flex">
            <p class="text-md text-neutral-600">首頁</p>
            <p class="text-neutral-300">/</p>
            <p class="text-md text-neutral-600">女鞋</p>
            <p class="text-neutral-300">/</p>
            <p class="text-md">所有商品</p>
          </div>
          <h3 class="my-24 my-md-12 h3 h4-md">女鞋</h3>
          <div class="content d-flex justify-between">
            <ul class="menu text-md d-md-none">
              <li>
                <a href="#">所有商品</a>
              </li>
              <li>
                <a href="#">慢跑鞋</a>
              </li>
              <li>
                <a href="#">滑板鞋</a>
              </li>
              <li>
                <a href="#">厚底鞋</a>
              </li>
              <li>
                <a href="#">限定/聯名企劃</a>
              </li>
            </ul>
            <div class="items">
              <div class="columns d-flex flex-wrap mb-48 mb-md-24">
                <div class="product">
                  <a href="product.html">
                    <img src="/assets/images/product.png" alt="product">
                  </a>
                  <h6 class="name h6">PLATFORM 404</h6>
                  <p class="text-md">NT$2,600</p>
                </div>
                <div class="product">
                  <a href="#">
                    <img src="/assets/images/product-1.png" alt="product">
                  </a>
                  <h6 class="name h6">PLATFORM 404</h6>
                  <p class="text-md">NT$2,600</p>
                </div>
                <div class="product">
                  <a href="#">
                    <img src="/assets/images/product-2.png" alt="product">
                  </a>
                  <h6 class="name h6">VM001</h6>
                  <p class="text-md">NT$2,600</p>
                </div>
                <div class="product">
                  <a href="#">
                    <img src="/assets/images/product-3.png" alt="product">
                  </a>
                  <h6 class="name h6">Melty Kiss</h6>
                  <p class="text-md">NT$4,000</p>
                </div>
                <div class="product">
                  <a href="#">
                    <img src="/assets/images/product-4.png" alt="product">
                  </a>
                  <h6 class="name h6">BOOMBLOK</h6>
                  <p class="text-md">NT$3,200</p>
                </div>
                <div class="product">
                  <a href="#">
                    <img src="/assets/images/product-5.png" alt="product">
                  </a>
                  <h6 class="name h6">BOOMBLOK</h6>
                  <p class="text-md">NT$3,200</p>
                </div>
                <div class="product">
                  <a href="#">
                    <img src="/assets/images/product-6.png" alt="product">
                  </a>
                  <h6 class="name h6">R:UNER</h6>
                  <p class="text-md">NT$4,000</p>
                </div>
                <div class="product">
                  <a href="#">
                    <img src="/assets/images/product-7.png" alt="product">
                  </a>
                  <h6 class="name h6">Sugar Snap</h6>
                  <p class="text-md">NT$4,000</p>
                </div>
                <div class="product">
                  <a href="#">
                    <img src="/assets/images/product-8.png" alt="product">
                  </a>
                  <h6 class="name h6">Neofoam</h6>
                  <p class="text-md">NT$4,000</p>
                </div>
                <div class="product d-none d-md-block">
                  <a href="#">
                    <img src="/assets/images/product-9.png" alt="product">
                  </a>
                  <h6 class="name h6">Buttermood</h6>
                  <p class="text-md">NT$4,000</p>
                </div>
              </div>
              <div class="pages d-flex justify-space text-md">
                <p class="button">&lt;</p>
                <div class="page d-flex justify-space">
                  <p>1</p>
                  <p>2</p>
                  <p>3</p>
                  <p>...</p>
                  <p>10</p>
                </div>
                <p class="button">&gt;</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="regist">
        <div class="regist-title d-flex justify-center align-center">
            <h2 class="h4">加入會員取得 9 折優惠</h2>
            <a href="login.html" class="regist-a">馬上註冊</a>
        </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
